article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, dialog {
  display: block; }

* {
  margin: 0;
  padding: 0;
  border: 0 none; }

ul {
  list-style: none; }

button, textarea, input {
  border: none;
  overflow: auto;
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none; }

h1, h2, h3, h4 {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-weight: 300; }

h1 {
  margin-bottom: 42.5px;
  color: #4F5350; }

h2 {
  margin-bottom: 21.25px;
  color: #BEBBBB;
  font-size: 1.6875rem; }
  h2 span {
    font-weight: 600;
    letter-spacing: -0.5px; }

h3 {
  margin-bottom: 4.25px;
  color: #4F5350;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 600;
  font-size: 0.875rem; }

p {
  color: #BEBBBB; }

body {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 100%;
  line-height: 180%;
  vertical-align: baseline;
  color: #BEBBBB;
  background: white;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility; }

a {
  cursor: pointer;
  color: #BEBBBB;
  white-space: nowrap;
  text-decoration: none;
  border-bottom: 1px solid #BEBBBB;
  transition: all 0.15s ease-out; }
  a:hover {
    border-color: transparent; }

.center {
  text-align: center; }

hr {
  display: block;
  width: 20%;
  height: 1px;
  background: #BEBBBB;
  opacity: 0.2; }

.clear {
  clear: both; }

.container {
  width: 80%;
  margin: 85px 0 85px 10%; }
  .container p, .container ul {
    font-size: 0.9375rem;
    font-weight: 300; }

.content p, .content ul {
  margin-top: 10.625px;
  font-size: 1rem;
  font-weight: 400;
  color: #BEBBBB; }
.content h2 span {
  line-height: 160%; }
.content ul li:before {
  content: "-";
  display: inline-block;
  margin-right: 10px; }
.content .title {
  width: 80%; }
.content .biography {
  width: 100%; }
  .content .biography .column {
    margin: 25px 65px 35px 0;
    float: left;
    width: 35%; }

header[role="banner"] {
  position: relative;
  overflow: hidden;
  transition: all 0.5s ease-out;
  -webkit-animation: bgcolorfade 120s infinite forwards linear;
  -moz-animation: bgcolorfade 120s infinite forwards linear;
  animation: bgcolorfade 120s infinite forwards linear; }
  header[role="banner"] h1, header[role="banner"] h2, header[role="banner"] h3, header[role="banner"] p, header[role="banner"]:after, header[role="banner"] .logo {
    transition: all 0.45s ease-out; }
  header[role="banner"]:after {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url(../images/michieldegraaf-head.jpg) no-repeat center center;
    background-size: cover;
    opacity: 0; }
  header[role="banner"].fart:after {
    opacity: 1; }
  header[role="banner"].fart figure .logo {
    fill: #4F5350;
    -webkit-animation: none;
    -moz-animation: none;
    animation: none; }
  header[role="banner"].fart h1, header[role="banner"].fart h2, header[role="banner"].fart h3, header[role="banner"].fart p, header[role="banner"].fart p a {
    color: transparent;
    border-color: transparent; }
  header[role="banner"] .container {
    position: relative;
    min-height: 440px;
    z-index: 10;
    top: 170px;
    margin-bottom: 170px;
    border-bottom: 3px solid #FCA75A; }
    header[role="banner"] .container .name {
      margin: 40px 0 0 0;
      width: 40%;
      float: left; }
    header[role="banner"] .container .profession {
      float: left;
      width: 50%; }
      header[role="banner"] .container .profession h3 {
        margin: 0; }
  header[role="banner"] figure {
    overflow: hidden;
    margin: 4px 21.25px 0 0;
    float: left; }
    header[role="banner"] figure .logo {
      display: block;
      float: left;
      width: 56px;
      height: 52px;
      -webkit-animation: fillfade 50s infinite linear;
      -moz-animation: fillfade 50s infinite linear;
      animation: fillfade 50s infinite linear; }
      header[role="banner"] figure .logo:hover {
        cursor: help; }
  header[role="banner"] h1 {
    color: #4F5350;
    font-size: 2.5rem;
    line-height: 110%; }
    header[role="banner"] h1 span {
      display: block;
      opacity: 0.5; }
  header[role="banner"] p {
    font-size: 1rem;
    font-weight: 400;
    color: #BEBBBB; }
    header[role="banner"] p a {
      color: #BEBBBB; }

footer[role="contentinfo"] p {
  font-size: smaller; }

footer[role="contentinfo"],
.content ul li span,
small {
  opacity: 0.5;
  transition: opacity 0.25s ease-out; }
  footer[role="contentinfo"]:hover,
  .content ul li span:hover,
  small:hover {
    opacity: 0.75; }

header[role="banner"] figure,
header[role="banner"] h2,
header[role="banner"] h3,
header[role="banner"] p,
section[role="main"] {
  opacity: 0;
  -webkit-transform: translateY(-20px);
  -moz-transform: translateY(-20px);
  transform: translateY(-20px);
  -webkit-animation: fadein 0.6s 0.5s 1 forwards ease-in-out;
  -moz-animation: fadein 0.6s 0.5s 1 forwards ease-in-out;
  animation: fadein 0.6s 0.5s 1 forwards ease-in-out; }

header[role="banner"] figure {
  -webkit-animation-delay: 1.2s;
  -moz-animation-delay: 1.2s;
  animation-delay: 1.2s; }

header[role="banner"] h2 {
  -webkit-animation-delay: 1.2s;
  -moz-animation-delay: 1.2s;
  animation-delay: 1.2s; }

header[role="banner"] h3 {
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  animation-delay: 1s; }

header[role="banner"] p {
  -webkit-animation-delay: 1.2s;
  -moz-animation-delay: 1.2s;
  animation-delay: 1.2s; }

section[role="main"] {
  -webkit-animation-delay: 1.4s;
  -moz-animation-delay: 1.4s;
  animation-delay: 1.4s; }

@-webkit-keyframes fadein {
  0% {
    -webkit-transform: translateY(-20px);
    -moz-transform: translateY(-20px);
    transform: translateY(-20px);
    opacity: 0; }
  100% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    transform: translateY(0);
    opacity: 1; } }
@-moz-keyframes fadein {
  0% {
    -webkit-transform: translateY(-20px);
    -moz-transform: translateY(-20px);
    transform: translateY(-20px);
    opacity: 0; }
  100% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    transform: translateY(0);
    opacity: 1; } }
@keyframes fadein {
  0% {
    -webkit-transform: translateY(-20px);
    -moz-transform: translateY(-20px);
    transform: translateY(-20px);
    opacity: 0; }
  100% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    transform: translateY(0);
    opacity: 1; } }
@-webkit-keyframes fillfade {
  0% {
    fill: #df284d; }
  25% {
    fill: #eb1c34; }
  50% {
    fill: #d3343a; }
  75% {
    fill: #eb1c34; }
  100% {
    fill: #df284d; } }
@-moz-keyframes fillfade {
  0% {
    fill: #df284d; }
  25% {
    fill: #eb1c34; }
  50% {
    fill: #d3343a; }
  75% {
    fill: #eb1c34; }
  100% {
    fill: #df284d; } }
@keyframes fillfade {
  0% {
    fill: #df284d; }
  25% {
    fill: #eb1c34; }
  50% {
    fill: #d3343a; }
  75% {
    fill: #eb1c34; }
  100% {
    fill: #df284d; } }
@media screen and (max-width: 1000px) {
  .container {
    width: 70%;
    margin-left: 15%; } }
@media screen and (max-width: 600px) {
  .container {
    width: auto;
    margin: 42.5px auto;
    padding: 0 25px; }

  header[role="banner"] .container {
    margin: 85px auto; } }

/*# sourceMappingURL=style.css.map */
