{% extends "base.html" %}
{% block title %}Frank Lagendijk is UX Designer at Grible{% endblock %}
{% block content %}

<audio class="click">
  <source src="{% static '/images/thisisnotanimagelol.wav' %}"></source>
</audio>

<header role="banner">
  <div class="container">
    <div class="name">
      <h3>Name</h3>
      <h2><span>Frank Lagendijk</span></h2>
    </div>

    <figure>
      <svg class="logo" width="50px" height="51px" viewBox="0 0 50 51" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <defs>
              <linearGradient x1="29.0703125%" y1="0%" x2="100%" y2="100%" id="linearGradient-1">
                  <stop stop-color="#FF9E5D" offset="0%"></stop>
                  <stop stop-color="#F8B755" offset="100%"></stop>
              </linearGradient>
              <circle id="path-2" cx="25" cy="25" r="25"></circle>
          </defs>
          <g id="Welcome" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
              <g id="Desktop-HD-Copy" sketch:type="MSArtboardGroup" transform="translate(-483.000000, -270.000000)">
                  <g id="grible-logo" sketch:type="MSLayerGroup" transform="translate(483.000000, 270.500000)">
                      <g>
                          <mask id="mask-3" sketch:name="Oval 1" fill="white">
                              <use xlink:href="#path-2"></use>
                          </mask>
                          <use id="Oval-1" fill="url(#linearGradient-1)" sketch:type="MSShapeGroup" xlink:href="#path-2"></use>
                          <path d="M29.0322187,9 L31.84425,9 L20.8581875,40.7233684 L18,40.7233684 L29.0322187,9" id="Imported-Layers" fill="#FFFFFF" sketch:type="MSShapeGroup" mask="url(#mask-3)"></path>
                      </g>
                  </g>
              </g>
          </g>
      </svg>
    </figure>

    <div class="profession">
      <h3>Currently</h3>
      <p>User Experience at <a href="#">Grible</a></p><br/>
      <h3>Challenge</h3>
      <p>Helping organizations use their data for the better
      and find a path to developing our own product.</p>
    </div>
  </div>
</header>

<section role="main">

  <div class="container content">
    <div class="title">    
      <h3>Background</h3>
    </div>
    <div class="explainer biography">
      <h2><span>I create & optimize attractive functionality in digital products and will let your audience fall in love with it. </span></h2>
      <div class="column">
        <p>Before moving to the Bay Area in 2006, Kerem has lived in a number of places including Istanbul, where his curious foundation was laid. Sulphur, Oklahoma— where he graduated high school. Maryville, Missouri— where he received his Bachelor's degree. Kerem studied Interactive Digital Media, an interdisciplinary degree with an integrated curriculum from the departments of computer science, mass communication and art. After experimenting with computer science, photography and print, Kerem steered his efforts and time towards interaction design in 2002. </p>
      </div>
      <div class="column">
        <p>Before moving to the Bay Area in 2006, Kerem has lived in a number of places including Istanbul, where his curious foundation was laid. Sulphur, Oklahoma— where he graduated high school. Maryville, Missouri— where he received his Bachelor's degree. Kerem studied Interactive Digital Media, an interdisciplinary degree with an integrated curriculum from the departments of computer science, mass communication and art. </p>
      </div>
    </div>
      <div class="clear"></div>

    <div class="title">    
      <h3>Recent thoughts</h3>
    </div>
    <div class="explainer posts">
      <div class="column">
        <h2>The added value of hackathons</h2>
        <p class="additional">Written on May 22</p>
      </div>
      <div class="column">
        <h2>TNW Hackathon: solving a little office problem</h2>
        <p class="additional">Written on May 22</p>
      </div>
    </div>
      <div class="clear"></div>

    <div class="contact">
      <div class="title">    
        <h3>Connect</h3>
      </div>
      <div class="explainer connect">
        <div class="column">
          <div class="column social">
            <h2>Twitter</h2>
            <p class="additional">Say Hi on Twitter</p>
          </div>
          <div class="column social">
            <h2>Air Mail</h2>
            <p class="additional">Send me an e-mail</p>
          </div>
          <div class="column social">
            <h2>LinkedIn</h2>
            <p class="additional">Connect on LinkedIn</p>
          </div>
          <div class="column social">
            <h2>Dribbble</h2>
            <p class="additional">Jawdrop on Dribbble</p>
          </div>
        </div>
      </div>
    </div>

      <div class="clear"></div>

      <div class="orange">
      </div>        

  <hr />

</section>

<footer role="contentinfo" class="container">
  <p>&copy; 2015 Frank Lagendijk &mdash; <a target="_blank" href="http://github.com/michieldegraaf/michieldegraaf">Source</a>.</p>
</footer>

{% endblock content%}
